<h2 mat-dialog-title>Hello !</h2>
<mat-dialog-content
  >This is simple Web application. As for now you can register an account and
  try to login.<br />
  More features SOON... :)<br /><br />Link to repository:
  <a
    href="https://github.com/dariusz-sanczyk/Login-Register-Form-Nest.js-API"
    target="_blank"
    >https://github.com/dariusz-sanczyk/Login-Register-Form-Nest.js-API</a
  ><br /><br />
  Technologies used:
  <ul>
    <li>Angular 14+</li>
    <li>Nest.JS v10</li>
    <li>MySQL Database</li>
  </ul></mat-dialog-content
>
<mat-dialog-actions>
  <button class="btn-close" mat-stroked-button mat-dialog-close>Close</button>
</mat-dialog-actions>
